workflows/2_document_ingestion.json
{
  "name": "RAG - 2. Document Ingestion (PDF → Docling → Qdrant)",
  "nodes": [
    {
      "parameters": {
        "path": "/data/pending",
        "events": ["add"],
        "options": {}
      },
      "id": "22222222-2222-2222-2222-000000000001",
      "name": "Watch Pending Folder",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "fileName": "={{ $json.path }}"
      },
      "id": "22222222-2222-2222-2222-000000000002",
      "name": "Read PDF File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://docling:5001/v1/convert/source",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-000000000003",
      "name": "Send to Docling (OCR)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "unit": "seconds",
        "amount": 5
      },
      "id": "22222222-2222-2222-2222-000000000004",
      "name": "Wait 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [900, 300],
      "webhookId": "wait-docling-status"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://docling:5001/v1/convert/status/{{ $('Send to Docling (OCR)').item.json.task_id }}",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-000000000005",
      "name": "Check Docling Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {"caseSensitive": false},
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "success",
                    "operator": {"type": "string", "operation": "equals"}
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {"caseSensitive": false},
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "failure",
                    "operator": {"type": "string", "operation": "equals"}
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "failure"
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "22222222-2222-2222-2222-000000000006",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst doclingResult = item.json;\n\n// ดึง markdown content จาก Docling\nconst document = doclingResult.document || doclingResult.result || doclingResult;\nconst markdownContent = document.export_to_markdown || document.md_content || document.content || JSON.stringify(document);\n\n// ดึงชื่อไฟล์ต้นทาง\nconst sourcePath = $('Watch Pending Folder').item.json.path || 'unknown';\nconst filename = $('Watch Pending Folder').item.json.name || 'unknown.pdf';\n\n// ประมวลผลรูปภาพ (ถ้ามี)\nconst images = [];\nif (document.pictures) {\n  for (const pic of document.pictures) {\n    if (pic.image && pic.image.uri) {\n      images.push({\n        uri: pic.image.uri,\n        page: pic.prov?.[0]?.page_no || 0\n      });\n    }\n  }\n}\n\nreturn [{\n  json: {\n    text: markdownContent,\n    metadata: {\n      source: sourcePath,\n      filename: filename,\n      processed_at: new Date().toISOString(),\n      images_count: images.length\n    }\n  }\n}];"
      },
      "id": "22222222-2222-2222-2222-000000000007",
      "name": "Extract Text & Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 180]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "my_documents",
          "mode": "id"
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-000000000008",
      "name": "Insert to Qdrant",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [1780, 180]
    },
    {
      "parameters": {
        "dataType": "json",
        "jsonData": "={{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {"name": "source", "value": "={{ $json.metadata.source }}"},
              {"name": "filename", "value": "={{ $json.metadata.filename }}"},
              {"name": "processed_at", "value": "={{ $json.metadata.processed_at }}"}
            ]
          }
        }
      },
      "id": "22222222-2222-2222-2222-000000000009",
      "name": "Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [1780, 380]
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 150,
        "options": {}
      },
      "id": "22222222-2222-2222-2222-000000000010",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [1780, 560]
    },
    {
      "parameters": {
        "model": "qwen3:embedding",
        "baseUrl": "http://ollama:11434"
      },
      "id": "22222222-2222-2222-2222-000000000011",
      "name": "Ollama Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [2000, 380]
    },
    {
      "parameters": {
        "command": "=mv \"/data/pending/{{ $('Watch Pending Folder').item.json.name }}\" \"/data/processed/{{ $('Watch Pending Folder').item.json.name }}\""
      },
      "id": "22222222-2222-2222-2222-000000000012",
      "name": "Move to Processed",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2200, 180]
    }
  ],
  "connections": {
    "Watch Pending Folder": {
      "main": [[{"node": "Read PDF File", "type": "main", "index": 0}]]
    },
    "Read PDF File": {
      "main": [[{"node": "Send to Docling (OCR)", "type": "main", "index": 0}]]
    },
    "Send to Docling (OCR)": {
      "main": [[{"node": "Wait 5s", "type": "main", "index": 0}]]
    },
    "Wait 5s": {
      "main": [[{"node": "Check Docling Status", "type": "main", "index": 0}]]
    },
    "Check Docling Status": {
      "main": [[{"node": "Check Status", "type": "main", "index": 0}]]
    },
    "Check Status": {
      "main": [
        [{"node": "Extract Text & Images", "type": "main", "index": 0}],
        [],
        [{"node": "Wait 5s", "type": "main", "index": 0}]
      ]
    },
    "Extract Text & Images": {
      "main": [[{"node": "Insert to Qdrant", "type": "main", "index": 0}]]
    },
    "Insert to Qdrant": {
      "main": [[{"node": "Move to Processed", "type": "main", "index": 0}]]
    },
    "Document Loader": {
      "ai_document": [[{"node": "Insert to Qdrant", "type": "ai_document", "index": 0}]]
    },
    "Text Splitter": {
      "ai_textSplitter": [[{"node": "Document Loader", "type": "ai_textSplitter", "index": 0}]]
    },
    "Ollama Embeddings": {
      "ai_embedding": [[{"node": "Insert to Qdrant", "type": "ai_embedding", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
