workflows/3_rag_chat.json
{
  "name": "RAG - 3. AI Chat (Private RAG)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "33333333-3333-3333-3333-000000000001",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "rag-chat-webhook"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "systemMessage": "คุณคือ AI Assistant ผู้เชี่ยวชาญในการค้นหาข้อมูลจากเอกสาร\nให้ใช้ tool ค้นหาข้อมูลจากเอกสารที่มีอยู่ก่อนตอบคำถามทุกครั้ง\nตอบเป็นภาษาเดียวกับที่ผู้ใช้ถาม\nหากไม่พบข้อมูลในเอกสาร ให้บอกตรงๆ ว่าไม่มีข้อมูลนั้นในฐานข้อมูล",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-000000000002",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [500, 300]
    },
    {
      "parameters": {
        "model": "llama3.2",
        "baseUrl": "http://ollama:11434",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "33333333-3333-3333-3333-000000000003",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [400, 520]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "search_documents",
        "toolDescription": "ค้นหาข้อมูลจากเอกสาร PDF ที่อัปโหลดไว้ในฐานข้อมูล ใช้เมื่อต้องการข้อมูลจากเอกสาร",
        "qdrantCollection": {
          "__rl": true,
          "value": "my_documents",
          "mode": "id"
        },
        "topK": 5,
        "options": {}
      },
      "id": "33333333-3333-3333-3333-000000000004",
      "name": "Qdrant Search Tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [620, 520]
    },
    {
      "parameters": {
        "model": "qwen3:embedding",
        "baseUrl": "http://ollama:11434"
      },
      "id": "33333333-3333-3333-3333-000000000005",
      "name": "Ollama Embeddings (Search)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [620, 700]
    },
    {
      "parameters": {
        "sessionIdType": "fromInput",
        "sessionKey": "sessionId",
        "contextWindowLength": 10
      },
      "id": "33333333-3333-3333-3333-000000000006",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [840, 520]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}]]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Qdrant Search Tool": {
      "ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]
    },
    "Ollama Embeddings (Search)": {
      "ai_embedding": [[{"node": "Qdrant Search Tool", "type": "ai_embedding", "index": 0}]]
    },
    "Window Buffer Memory": {
      "ai_memory": [[{"node": "AI Agent", "type": "ai_memory", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
