workflows/RAG - 3. AI Chat (Private RAG) (1).json
{
  "name": "RAG - 3. AI Chat (Private RAG)",
  "nodes": [
    {
      "parameters": {},
      "id": "53ceeb3d-2a54-4f8b-b687-29a20dfca354",
      "name": "คลิกเพื่อสร้าง Collection",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        496,
        512
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/multi-modal",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"vectors\" : {\n  \"size\" : 1024,\n    \"distance\" : \"Cosine\"\n    \n  }\n}",
        "options": {}
      },
      "id": "2635c357-9fb0-40ec-92df-6c7b7a403df8",
      "name": "Create Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        736,
        512
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "http://qdrant:6333/collections/multi-modal",
        "options": {}
      },
      "id": "5b721b29-9714-448c-a774-8fc0046f5e15",
      "name": "Delete Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        736,
        720
      ]
    },
    {
      "parameters": {
        "fileSelector": "{{ $json.path }}",
        "options": {}
      },
      "id": "46cc87aa-48c3-488d-aa62-3c2fae2f9ed5",
      "name": "Read PDF File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1200,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://docling:5001/v1/convert/source",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "image_export_mode",
              "value": "referenced"
            }
          ]
        },
        "options": {}
      },
      "id": "68a48991-5af3-4dd7-af80-83d032682f31",
      "name": "Send to Docling (OCR)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1408,
        480
      ]
    },
    {
      "parameters": {},
      "id": "8e3336cb-6dee-4a97-9c3b-ea9901eefb76",
      "name": "Wait 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1632,
        480
      ],
      "webhookId": "wait-docling-status"
    },
    {
      "parameters": {
        "url": "=http://docling:5001/v1/status/poll/{{ $('Send to Docling (OCR)').item.json.task_id }}",
        "options": {}
      },
      "id": "11f43ce7-98f7-4ae6-abbf-0cc099609549",
      "name": "Check Docling Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1856,
        480
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "41c94ce6-ee3c-4662-a47b-320a3f964073"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2a62659d-862a-400d-8290-44aac8bebc3d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "started",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "73665362-b9a1-4f44-b9d7-08a8189c405a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "started"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "2d7a949e-2845-4c08-842c-7a4237606716",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2080,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst statusResponse = item.json;\n\n// ดึงเนื้อหาจาก Docling result\nconst result = statusResponse.result || statusResponse;\nconst document = result.document || result;\n\n// ดึง markdown content\nlet markdownContent = document.export_to_markdown ||\n                      document.md_content ||\n                      document.content ||\n                      JSON.stringify(document);\n\n// แปลง image path เป็น URL ที่เข้าถึงได้ผ่าน nginx (port 8080)\nmarkdownContent = markdownContent.replace(\n  /!\\[([^\\]]*)\\]\\(([^)]+)\\)/g,\n  (match, alt, imgPath) => {\n    const filename = imgPath.split('/').pop();\n    return `![${alt}](http://localhost:8080/${filename})`;\n  }\n);\n\nconst sourcePath = $('Watch Pending Folder').item.json.path || 'unknown';\nconst filename = $('Watch Pending Folder').item.json.name || 'unknown.pdf';\n\nreturn [{\n  json: {\n    text: markdownContent,\n    metadata: {\n      source: sourcePath,\n      filename: filename,\n      processed_at: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "e37a1b51-825d-4121-9564-d8458a9b14df",
      "name": "Transform Image Paths",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        384
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "multi-modal",
          "mode": "id"
        },
        "options": {}
      },
      "id": "acbc16de-d39d-4621-bb1f-f772f15e9245",
      "name": "Insert to Qdrant",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        2960,
        208
      ],
      "credentials": {
        "qdrantApi": {
          "id": "HQejKyqp8BqPCFak",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3:embedding"
      },
      "id": "4d506dd5-bc38-45b4-9c0d-e39770a0919c",
      "name": "Ollama Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        2880,
        384
      ],
      "credentials": {
        "ollamaApi": {
          "id": "67YI5Pjv1ctZFjyR",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "=Docling conversion failed. Status: {{ $json.status }}"
      },
      "id": "c89717c7-3dba-4978-9882-dfa329b9b2b9",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2336,
        704
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e060c242-e922-402f-9745-573fba0f31ff",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1120,
        816
      ],
      "webhookId": "rag-chat-webhook"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "id": "12dcc467-0844-4e3c-b599-753614ef7af4",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1392,
        816
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "id": "960276ca-516c-407c-8b26-94e551aa976b",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1248,
        1040
      ],
      "credentials": {
        "ollamaApi": {
          "id": "67YI5Pjv1ctZFjyR",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "search_documents",
        "toolDescription": "ค้นหาข้อมูลจากเอกสาร PDF ที่อัปโหลดไว้ในระบบ ใช้เมื่อต้องการข้อมูลจากเอกสาร รูปภาพ หรือตาราง",
        "qdrantCollection": {
          "__rl": true,
          "value": "multi-modal",
          "mode": "id"
        },
        "topK": 5,
        "options": {}
      },
      "id": "e03c1895-5306-4edf-8465-2b745ee66336",
      "name": "Qdrant Search Tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1472,
        1040
      ],
      "credentials": {
        "qdrantApi": {
          "id": "HQejKyqp8BqPCFak",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "sessionId",
        "contextWindowLength": 10
      },
      "id": "b380b6a8-29d7-47d2-a016-9f195fa94439",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1760,
        1040
      ]
    },
    {
      "parameters": {
        "model": "qwen3:embedding"
      },
      "id": "121b307c-2a38-4109-80cf-557b0265b567",
      "name": "Ollama Embeddings1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1472,
        1216
      ],
      "credentials": {
        "ollamaApi": {
          "id": "67YI5Pjv1ctZFjyR",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://docling:5001/v1/result/{{ $('Send to Docling (OCR)').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2288,
        464
      ],
      "id": "f5b767f5-73b9-4410-ad42-83c127b732ed",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "C:/Users/NITRO 5/n8n-private-rag/shared/rag-files/pending/",
        "events": [
          "add"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        1024,
        480
      ],
      "id": "d2405b80-0bc9-44c2-9577-23b8049b6012",
      "name": "Local File Trigger"
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        3088,
        368
      ],
      "id": "039ad51c-3db3-4d35-8459-bd9abc420bcf",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 300,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3184,
        528
      ],
      "id": "6b7f9791-923f-4d25-8533-7001fbb0737c",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n    const mdContent = item.json.document?.md_content || \"\";\n\n    // Regex to match markdown image syntax: ![alt](filename)\n    const imageRegex = /!\\[.*?\\]\\((.*?)\\)/g;\n    const imageNames = [];\n\n    let match;\n    while ((match = imageRegex.exec(mdContent)) !== null) {\n        imageNames.push(match[1]);\n    }\n\n    item.json.imageNames = imageNames;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        720
      ],
      "id": "c84378c3-dd77-47d3-b04e-c7f3d9589231",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fieldToSplitOut": "imageNames",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2736,
        720
      ],
      "id": "77562472-5e09-40ec-8d64-168a9b512258",
      "name": "Split Out"
    },
    {
      "parameters": {
        "command": "=mv /data/shared/docling-scratch/{{ $json.imageName }} /data/shared/extracted-images/"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2944,
        720
      ],
      "id": "4d29de5d-948f-4089-8e10-a6fe4639ce5d",
      "name": "Execute Command"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3152,
        720
      ],
      "id": "959a3efd-6773-464c-b5c6-9c8498dc8998",
      "name": "Limit"
    },
    {
      "parameters": {
        "command": "=mv {{ $('Local File Trigger').item.json.path }} /data/shared/rag-files/processed"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3360,
        720
      ],
      "id": "3bd10991-2dfc-4eee-bb00-5f617850f1cf",
      "name": "Execute Command1"
    }
  ],
  "pinData": {},
  "connections": {
    "คลิกเพื่อสร้าง Collection": {
      "main": [
        [
          {
            "node": "Create Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PDF File": {
      "main": [
        [
          {
            "node": "Send to Docling (OCR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Docling (OCR)": {
      "main": [
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "Check Docling Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Docling Status": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Insert to Qdrant",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Search Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Embeddings1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Search Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Read PDF File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transform Image Paths",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Image Paths": {
      "main": [
        [
          {
            "node": "Insert to Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert to Qdrant",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5cbe4734-4c70-41fb-9eb0-24e5e57713e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "F6Bu48u1v2YxGZRo",
  "tags": []
}